@import "../variables";

.no_image_component_container {
    width: 90%;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    position: fixed;
    margin: auto;

    .label_no_image {
        font-family: $main_font;
        text-align: center;
    }
}
